:root {
  --blue-color: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
}

.header {
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.logo__image {
  display: block;
}

.nav {
  margin-left: auto;
  margin-right: 0;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
}

.is-active {
  color: var(--blue-color);
}

.is-active::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 8px;
}


.nav__link:hover {
  color: var(--blue-color);
}





.nav__link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 8px;
}

.is-active:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 8px;
}

